<div>
    <h2 class="align">Your Shopping Cart</h2>
    <div *ngIf="cartItems.size === 0; else cartItemsList">
        <p>Your cart is empty.</p>
    </div>
    <ng-template #cartItemsList>
        <mat-card *ngFor="let item of cartItems | keyvalue" class="cart-item">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="65%" fxLayout="row" fxLayoutGap="40px">
                    <img src="{{item.value.product.imagePath}}" alt="images">
                    <div>
                        <h3><strong>{{ item.value.product.name }}</strong></h3>
                        <p>Price: ${{ item.value.product.price }} <br> Quantity: {{ item.value.quantity }} <br>
                            Subtotal: ${{
                            (item.value.product.price! * item.value.quantity!).toFixed(2)}}</p>
                    </div>
                </div>
                <div fxFlex="35%" fxLayoutAlign="end center">
                    <button mat-icon-button color="primary" (click)="decreaseQuantity(item.key)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    {{ item.value.quantity }}
                    <button mat-icon-button color="primary" (click)="increaseQuantity(item.key)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="removeItem(item.key)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
        <mat-card class="class-item">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div fxFlex="5%"></div>
                    <div fxFlex="80%" fxLayoutAlign="start center">
                        <h2><strong>TOTAL:</strong></h2>
                    </div>
                    <div fxFlex="20%" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
                        <strong>${{ getTotal() }}</strong>
                        <button mat-flat-button color="primary" (click)="checkout()">Checkout</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>