<mat-list>
    <mat-list-item class="section-heading"><strong>PRESCRIPTION DETAILS</strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>odPower: {{prescription?.odPower}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>odCyl: {{prescription?.odCyl}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>odAxis : {{prescription?.odAxis}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>odBC: {{prescription?.odBC}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>odDia: {{prescription?.odDia}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>osPower: {{prescription?.osPower}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>osCyl: {{prescription?.osCyl}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>osAxis: {{prescription?.osAxis}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>osBC: {{prescription?.osBC}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>osDia: {{prescription?.osDia}}</mat-list-item>
</mat-list>