<div class='align'>
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                <h4 class="align">
                    Address Details
                </h4>
            </mat-card-title>
            <form [formGroup]='addressForm'>
                <div class="column">
                    <div class="column">
                        <label>Apt No</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Apt No</mat-label>
                            <input matInput placeholder="Apartment Number" formControlName="aptNo" required>
                            <mat-error *ngIf="addressForm.get('aptNo')?.hasError('required')">
                                Apt No is <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="column">
                        <label>Street Name</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Street Name</mat-label>
                            <input matInput placeholder="Street Name" formControlName="streetName" required>
                            <mat-error *ngIf="addressForm.get('streetName')?.hasError('required')">
                                Street Name is <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="column">
                        <label>City</label>
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="City" formControlName="city" required>
                            <mat-error *ngIf="addressForm.get('city')?.hasError('required')">
                                City is <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="column">
                        <label>State</label>
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="State" formControlName="state" required>
                            <mat-error *ngIf="addressForm.get('state')?.hasError('required')">
                                State is <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="column">
                        <label>Zip Code</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Zip Code</mat-label>
                            <input matInput type="number" placeholder="Zip Code" formControlName="zipCode" required>
                            <mat-error *ngIf="addressForm.get('zipCode')?.hasError('required')">
                                Zip Code is <strong>Required</strong>
                            </mat-error>
                            <mat-error *ngIf="addressForm.get('zipCode')?.hasError('patter')">
                                Zip Code is <strong>should be of length 5</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br>
            </form>
        </mat-card-content>
        <mat-card-content>
            <div class="align">
                <button mat-raised-button (click)="onNoClick()" color="primary">Close
                </button>
                <span style="margin:17px;"></span>
                <div class="row">
                    <button mat-raised-button color="primary" (click)="add()" [disabled]="addressForm.invalid">Add
                        Address
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>