@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

html {
    font-size: 18px;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    color: #000;
}

.full-div {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 55px;
    backdrop-filter: blur(2px);
}

.text-center {
    text-align: center;
}

.div-spacer {
    flex: 1 1 auto;
}

.align {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.height-100 {
    height: 100%!important;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-10 {
    margin: 10px;
}

.pointer {
    cursor: pointer;
}
.style-success {
    position: absolute !important;
    color: #fff;
    background-color: green;
    top: 54px;
    right: 0px;
}

.style-success .mat-simple-snackbar-action {
    color: #fff;
}

.style-error {
    position: absolute !important;
    color: #fff;
    background-color: rgb(231, 4, 4);
    top: 54px;
    right: 0px;
}

.style-error .mat-simple-snackbar-action {
    color: #fff;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {    
    margin-right: 10px;
}