<div class='margin-top-30 align'>
    <mat-card>
        <mat-card-title>
            <h4 class="align" *ngIf="!employee?.employeeID">
                Add New Employee
            </h4>
            <h4 class="align" *ngIf="employee?.employeeID">
                Edit Employee
            </h4>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]='employeeForm'>
                <div class="row">
                    <div class=column>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" type="text" formControlName="firstName">
                            <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">
                                Name is <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Designation</mat-label>
                            <input matInput placeholder="Designation" type="text" formControlName="designation">
                            <mat-error>
                                <span *ngIf="employeeForm.get('designation')?.hasError('required')">
                                    Designation is <strong>Required</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Designation</mat-label>
                            <mat-select placeholder="Designation" required formControlName="designation">
                                <mat-option value="manager">Manager</mat-option>
                                <mat-option value="employee">Employee</mat-option>
                            </mat-select>
                            <mat-error>
                                <span *ngIf="employeeForm.get('designation')?.hasError('required')">
                                    Designation is <strong>Required</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" type="email" formControlName="email">
                            <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">
                                Email is <strong>Required</strong>
                            </mat-error>
                            <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
                                Email not <strong>Valid</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="column  margin-left-30 ">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" type="text" formControlName="phoneNumber">
                            <mat-error>
                                <span *ngIf="employeeForm.get('phoneNumber')?.hasError('required')">
                                    Phone Number is <strong>Required</strong>
                                </span>
                                <span
                                    *ngIf="!employeeForm.get('phoneNumber')?.hasError('pattern') &&
                                (employeeForm.get('phoneNumber')?.hasError('minlength') || employeeForm.get('phoneNumber')?.hasError('minlength'))">
                                    Contact Number should be of <strong>10 digits</strong>
                                </span>
                                <span *ngIf="employeeForm.get('phoneNumber')?.hasError('pattern')">
                                    Contact Number should be of type <strong>Number</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="password">
                            <mat-error *ngIf="employeeForm.get('password')?.hasError('required')">
                                Password is <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Confirm Password" type="password"
                                formControlName="confirmPassword">
                            <mat-error *ngIf="employeeForm.get('confirmPassword')?.hasError('required')">
                                Confirm your <strong>Password</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" *ngIf="employee?.employeeID">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="ACTIVE">ACTIVE</mat-option>
                                <mat-option value="INACTIVE">INACTIVE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div><br>
            </form>
        </mat-card-content>
        <mat-card-content>
            <div class="align">
                <button mat-raised-button (click)="utilService.back()" color="primary">Back
                </button>
                <span style="margin:17px;"></span>

                <button mat-raised-button (click)="saveEmployee()" color="primary"
                    [disabled]="employeeForm.invalid">Save
                    Employee
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>