<ul>
  <li *ngFor="let product of products">
    <a>
      <img mat-card-image class="product-image" [src]="product.imagePath" alt="{{ product.name }}">
      <mat-divider></mat-divider>
      <div class="content">
        <div class="name"> {{ product.name }}
        </div>
        <div class="details">
          <span>{{product.details}}</span>
        </div>
        <div class="price">
          {{product.price | currency}}
        </div>
        <div fxLayout="column" fxLayoutGap="8px">
          <button mat-flat-button color="accent" (click)="addToCart(product)">Add to Cart</button>
          <!-- <button mat-flat-button color="primary" (click)="buyNow(product)">Buy Now</button> -->
          <button mat-flat-button (click)="viewReviews(product.id!)"
                        color="primary"> Reviews
                    </button>
        </div>
      </div>
    </a>
  </li>
</ul>